.container {
    width: 70vw;
    height: 90vh;
    overflow: hidden; 
    display: -webkit-box;
}

.frames {
    width: 100%;
    height: 100%;
    transition: 1s;
}

#f1 {
    background: blue;
}

#f2 {
    background: red;
}

#f3 {
    background: pink;
}

#f4 {
    background: green;
}

.commandes {
    width: 70vw;
    height: 7vh;
    display: flex;
}

.controls {
    width: 33%;
    height: 100%;
    margin: auto;
}

#left {
    background: violet;
    pointer-events: none;
    opacity: 0;
}

#return {
    background: brown;
}

#right {
    background: yellow;
}

